<p id="notice"><%= notice %></p>

<h1>Listing Ladings</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ladings.each do |lading| %>
      <tr>
        <td><%= link_to 'Show', lading %></td>
        <td><%= link_to 'Edit', edit_lading_path(lading) %></td>
        <td><%= link_to 'Destroy', lading, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lading', new_lading_path %>
