<%= form_for(@manifest) do |f| %>
  <% if @manifest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manifest.errors.count, "error") %> prohibited this manifest from being saved:</h2>

      <ul>
      <% @manifest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nameimportingconvevance %><br>
    <%= f.text_field :nameimportingconvevance %>
  </div>
  <div class="field">
    <%= f.label :namepersonincharge %><br>
    <%= f.text_field :namepersonincharge %>
  </div>
  <div class="field">
    <%= f.label :nameaddressowner %><br>
    <%= f.text_field :nameaddressowner %>
  </div>
  <div class="field">
    <%= f.label :foreignportoflanding %><br>
    <%= f.text_field :foreignportoflanding %>
  </div>
  <div class="field">
    <%= f.label :usportofdestination %><br>
    <%= f.text_field :usportofdestination %>
  </div>
  <div class="field">
    <%= f.label :portofarrival %><br>
    <%= f.text_field :portofarrival %>
  </div>
  <div class="field">
    <%= f.label :dateofarrival %><br>
    <%= f.date_select :dateofarrival %>
  </div>
  <div class="field">
    <%= f.label :billoflading %><br>
    <%= f.text_field :billoflading %>
  </div>
  <div class="field">
    <%= f.label :carnumber %><br>
    <%= f.text_field :carnumber %>
  </div>
  <div class="field">
    <%= f.label :numberandgrossweight %><br>
    <%= f.text_field :numberandgrossweight %>
  </div>
  <div class="field">
    <%= f.label :nameofconsignee %><br>
    <%= f.text_field :nameofconsignee %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
