<p id="notice"><%= notice %></p>

<p>
  <strong>Nameimportingconvevance:</strong>
  <%= @manifest.nameimportingconvevance %>
</p>

<p>
  <strong>Namepersonincharge:</strong>
  <%= @manifest.namepersonincharge %>
</p>

<p>
  <strong>Nameaddressowner:</strong>
  <%= @manifest.nameaddressowner %>
</p>

<p>
  <strong>Foreignportoflanding:</strong>
  <%= @manifest.foreignportoflanding %>
</p>

<p>
  <strong>Usportofdestination:</strong>
  <%= @manifest.usportofdestination %>
</p>

<p>
  <strong>Portofarrival:</strong>
  <%= @manifest.portofarrival %>
</p>

<p>
  <strong>Dateofarrival:</strong>
  <%= @manifest.dateofarrival %>
</p>

<p>
  <strong>Billoflading:</strong>
  <%= @manifest.billoflading %>
</p>

<p>
  <strong>Carnumber:</strong>
  <%= @manifest.carnumber %>
</p>

<p>
  <strong>Numberandgrossweight:</strong>
  <%= @manifest.numberandgrossweight %>
</p>

<p>
  <strong>Nameofconsignee:</strong>
  <%= @manifest.nameofconsignee %>
</p>

<%= link_to 'Edit', edit_manifest_path(@manifest) %> |
<%= link_to 'Back', manifests_path %>
