<p id="notice"><%= notice %></p>

<h1>Listing Shipments</h1>

<table>
  <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @shipments.each do |shipment| %>
      <tr>
        <td><%= shipment.id %> |</td> 
        <td>
          <% if shipment.in_usa? %>
          <%= "Out for delivery in United States" %> |
          <% elsif shipment.in_canada? %>
          <%= "Out for delivery in Canada" %> |
          <% elsif shipment.at_border? %>
          <%= "Waiting for clearance at border" %> |
          <% end %>
        </td>
        <td><%= link_to 'Show', shipment %></td>
        <td><%= link_to 'Edit', edit_shipment_path(shipment) %></td>
        <td><%= link_to 'Destroy', shipment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shipment', new_shipment_path %>
